*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s;
}

.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(0, 87, 168),rgb(99, 97, 207)),url(img/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.animation1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
}

.container-ani {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: -50px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid rgb(42, 99, 190);
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}

/* me */

.header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}

#David{
    color: rgb(157, 210, 77);
}


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-links ul li:hover::after{
    width: 100%;
  }

  

  .text-box{
    width: 40%;
    color: #ffffff;
    padding-left: 50px;
   
    
  }

  .animation1{
    width: 60%;
    align-content: center;
  }

  #animationcontainer{
    width: max-content;
    height: max-content;
    
  }

  .text-box h1{
    font-size: 50px;
    padding-top: 20px;
  }
  .text-box a{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #ffffff;
    
  }
  .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
  }

  nav .fa{
    display: none;
  }

  .logos {
    overflow: hidden;
    padding: 30px 0;
    background: rgb(36, 34, 159);
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(37, 11, 11, 0), rgb(3, 3, 65));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(3, 3, 65));
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 70px;
    margin: 0 80px;
  }

  .layout {
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 16px;
  }

  .layout1{
    background: linear-gradient(to left, rgba(125, 131, 255, 1), rgba(10, 36, 99, 1));
  }
  .layout2{
    background: linear-gradient(to left, rgba(21, 61, 15, 1), rgba(196, 241, 190, 1));
  }
  .layout3{
    background: linear-gradient(to left, rgba(172, 155, 64, 1), rgba(70, 63, 26, 1));
  }
  
  .hui{
    width: 50%;
    
  }
  .hui{
    overflow: hidden;
    align-content: center;
  }
  .hui img{
    width: 50%;
    position: relative;
    left: 25%;
  }
  .hui h1{
    color: #fff;
    text-align: center;
  }
.hui p{
  color: #fff;
}

    
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @media(max-width: 700px){

    .logos {
      overflow: hidden;
      padding: 1px 0;
    }
    .logos-slide img {
      height: 40px;
      margin: 0 30px;
    }
    .logos:before {
      left: 0;
      background: linear-gradient(to left, rgba(37, 11, 11, 0), rgba(18, 18, 255, 0));
    }
    
    .logos:after {
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(18, 18, 255, 0));
    }


    .text-box h1{
        font-size:20px;
    }
    
    html body{
      overflow: hidden;
    }

    .nav-links ul li{
      display: block;
    }
    .nav-links{
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
    nav .fa{
      display: block;
      color: #000000;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
    .nav-links ul{
      padding: 30px;
    }


}

/* Footer Styles */

.footer {
  background: rgba(0, 7, 45, 1);
  color: #fff;
  padding: 50px 0;
  transition: 0.2s;
}

.footer-heading-span{
  color: rgb(255, 255, 255);
  margin-left: 30%;
  font-size: 30px;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.column {
  width: 20%;
  padding: 0 15px;
  box-sizing: border-box;
}

.column p{
  font-size: 18px;
}
.column h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}
.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.column ul li {
  margin-bottom: 10px;
  font-size: 17px;
}

.social-icons {
  margin-top: 20px;
}
.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 30px;
  transition: transform 0.2s, color 0.2s; /* Added color transition */
  transition: 0.2s;
}
.social-icons a:hover {
  transform:translateX(-5px);
  color: #0033ff; /* Light blue color on hover */
  transition: 0.2s;
}
a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s; /* Added color transition */
}
a:hover {
  color: gold; /* Change font color to gold on hover */
  font-weight:600 ;
  transition: 0.2s;
}
/* Additional style for copyright section */
hr {
  border-top: 1px solid white;
  width: 50%;
  margin: 20px auto;
}

.copyright{
text-align: center;
}
/* Heartbeat animation for copyright span */
.copyright span {
  color: rgb(75, 13, 198); /* Change heart color to red */
  animation: pulse 3s linear infinite; 
}

@keyframes pulse{ 
  0% { 
      transform: rotate(-45deg) scale(1); 
      opacity: 0; 
  }/* 
  10% { 
      transform: rotate(-45deg) scale(1.3); 
  } 
  20% { 
      transform: rotate(-45deg) scale(0.9); 
  } 
  30% { 
      transform: rotate(-45deg) scale(1.2); 
  } 
  40% { 
      transform: rotate(-45deg) scale(0.9); 
  }*/
  50% { 
      transform: rotate(-45deg) scale(1.3); 
      opacity: 1; 
  }/* 
  60% { 
      transform: rotate(-45deg) scale(0.95); 
  } 
  70% { 
      transform: rotate(-45deg) scale(1); 
  } */
  100% { 
      transform: rotate(-45deg) scale(1); 
      opacity: 1; 
  } 
} 


@media only screen and (min-width: 330px) and (max-width: 990px) {
  .container {
    flex-wrap: wrap;
  }

  .column {
    width: calc(50% - 10px); /* Adjusted width to fit two columns with space */
    margin-bottom: 10px;
    margin-left: 0px; /* Added margin between columns */
  }

  .column:nth-child(2) {
    margin-top: 102px; /* Add margin-top to the second column */
    margin-left: 20px;
  }

  .column:last-child {
    margin-right: 0; /* Remove margin from the last column to prevent extra space */
  }

  .column:nth-child(5){
    width: 100%;
  }

  .footer-heading-span {
    margin-left: 0;
    text-align: center;
    font-size: 24px; /* Adjusted font size for better visibility */
  }

  hr{
    width: 80%;
  }
}




@media only screen and (max-width: 320px) {
  .column {
    width: 100%;
  }

  .footer-heading-span {
    font-size: 24px;
  }

  .column:nth-child(5){
    width: 100%;
  }
  hr{
    width: 80%;
  }
}